@font-face {
    font-family: Benton;
    src: url('BentonSans-Book.otf');
}


body {
  font-size: 14px;
  font-family: "Benton", "Arial", sans-serif;
  margin: 20px auto 20px;
  width: 1280px;
  line-height: 1.45em;
}
a {
  color: #454545;
}
a:hover {
  color: #000;
}
ul {
  margin: 0 20px;
  padding: 0;
}
.dark {
  background: #222;
}
#example {
  min-height: 350px;
  margin: 12px 0;
}

button#keep-data,

button#exclude-data {
  font-weight:bold
}

button#keep-data:hover {
  color: #080;
}

button#exclude-data:hover {
  color: #900;
  }
 
p {
  width: 1280px;
  height: 50px;
}
pre {
  color: #444;
  font-family: Ubuntu Mono, Monaco, monospace;
  padding: 4px 8px;
  background: #f2f2f2;
  border: 1px solid #ccc;
}
h1 {
  font-weight: normal;
  font-size: 2.2em;

}
h4 {
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 1em;
  margin-top: 1em;
}

h3 {
  margin-top: 40px;
}

h2 {
  font-weight: normal;
  font-size: 16.5px;
}


.float {
  float: left;
}
.centered {
  text-align: center;
}
.hide {
  display: none;
}
input {
  font-size: 16px;
}

p.caption1{
	
	font-size: 12px;
	text-decoration: underline;
	margin: 0;
	margin-top: 10px;
	position: relative;
	text-align: center;
	

}


p.caption2{
	
	font-size: 12px;
	text-decoration: none;
	margin: 0;
	position: relative;
	text-align: center;
	
	
}

.widgets {
  margin-top: 4px;
  padding: 2px 8px;
  height: 36px;
  line-height: 11px;
  font-size: 11px;
  text-align: center;
  float: right;
}


/* data table styles */
  #grid { height: 250px; 
	overflow: scroll;}
  .row, .header { clear: left; font-size: 11px; line-height: 24px; height: 24px; }
  .row:nth-child(odd) { background: rgba(0,0,0,0.05); }
  .header { font-weight: bold;  text-decoration: underline; font-size: 12px; }
  .cell { float: left; overflow: hidden; white-space: nowrap; width: 80px; height: 18px; }
  .col-0 { width: 60px; }
  .col-1 { width: 100px; }
  .col-2 { width: 80px; }
  .col-3 { width: 150px; } 
  .col-4 { width: 150px; }
  .col-5 { width: 200px; }
  .col-6 { width: 200px; }
  .col-7 { width: 80px; }
  .col-8 { width: 60px; }
  .col-9 { width: 100px; }  
  .col-10 { width: 80px; }
  .col-11 { width: 100px; }
  .col-12 { width: 100px; }
  .col-13 { width: 75px; }
  .col-14 { width: 80px; } 
  .col-15 { width: 80px; }  
  .col-16 { width: 80px; } 

  
/* parcoords styles */
.parcoords > svg, .parcoords > canvas { 
  font: 12px "Benton", "Arial", sans-serif;
  position: absolute;
  text-shadow: 1px 1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, -1px -1px 0 #fff;
}
.parcoords > canvas {
  pointer-events: none;
}

.parcoords text.label {
  cursor: default;
  font-weight: bold;
}

.parcoords rect.background {
  fill: transparent;
}
.parcoords rect.background:hover {
  fill: rgba(120,120,120,0.2);
}
.parcoords .resize rect {
  fill: rgba(0,0,0,0.1);
}
.parcoords rect.extent {
  fill: rgba(255,255,255,0.25);
  stroke: rgba(0,0,0,0.6);
}
.parcoords .axis line, .parcoords .axis path {
  fill: none;
  stroke: #454545;
  shape-rendering: crispEdges;
}
.parcoords canvas {
  opacity: 1;
  -moz-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
}
.parcoords canvas.faded {
  opacity: 0.25;
}
.parcoords {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
